.header {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    height: 35px !important;
    padding-top: 8px;
    padding-left: 8px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    border-top-width: 2px;
    border-color: #005040;
    z-index: 1;
}

html {
    width:100%;
    height:100%;
}

body {
    width:100%;
    height:100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #005040;
}

#userIcon{
    float: right;
    margin-top:-8px;
    margin-right:2px;
    width:40px;
    height:40px;
    background-repeat: no-repeat;
    background-size: contain;
}

#filename {
    position: absolute;
    font-size: 16px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    padding-left:4px;
    padding-top:4px;
    cursor: pointer;
}

#filenameSelect {
    display: none;
}

#pageAll {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 45px;
    bottom: 160px;
    border-style: solid;
    border-width: 1px;
    border-color: #005040;
}
#pageBottom {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 150px;
    bottom: 0px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    padding:4px;
    border-color: #005040;
}
#pageBottomScroll {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 4px;
    bottom: 0px;
    padding:0px;
    overflow: scroll;
    border: none;
    
}
pre#log{
    border: none;
}
#pageBottom:after {
    content: " ";
       position: absolute;
       top: 0px;
       height: 4px;
       width: 100%;
       z-index: 2;
       cursor: ns-resize;
   }

#pageLeft {
    position: absolute;
    left: 51px;
    width: 170px;
    top: 0px;
    height:100%;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #005040;
    vertical-align: top;
    font-size: 8pt;
}

#pageLeft:after {
    content: " ";
       position: absolute;
       right: 0px;
       width: 4px;
       height: 100%;
       z-index: 2;
       cursor: ew-resize;
   }

#pageLeftBody {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    vertical-align: top;
    font-size: 8pt;
    padding-top: 0px;
}

#pageLeftToolbarTop {

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #005040;
    vertical-align: top;
    font-size: 8pt;
    text-align: right;
    padding-top: 4px;
    white-space: nowrap;
}

#pageLeftToolbar {
    position: absolute;
    left: 0px;
    width: 50px;
    top: 0px;
    height: unset;
    bottom: 0px !important;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #005040;
    vertical-align: top;
    font-size: 8pt;
    text-align: center;
    padding-top: 4px;
}

#pageMiddle {
    position: absolute;
    left: 222px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding:2px;
    overflow:hidden;
}

.fileChanged{
    font-style: italic;
}

.dirWidget {
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

.dirWidgetSelected {
    background-color: #555555;
    color:#EEEEEE;
}

.fileWidget {
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    background-color: none;
    white-space: nowrap;
}

.fileWidgetSelected {
    background-color: #555555;
    color:#EEEEEE;
}

.fileIndent {
    display: inline-block;
    width: 10px;
}

.fileIcon {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: white;
    border-color: black;
    border-style: ridge;
    border-width: 1px;
    border-radius: 3px;
    vertical-align: middle;
    margin: 4px;
}

.dirIcon {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: blue;
    border-color: black;
    border-style: ridge;
    border-width: 1px;
    border-radius: 3px;
    vertical-align: middle;
    margin: 4px;
}

#pageMiddle .CodeMirror {
    /* height: 100%; */
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: unset;
    bottom: 0px;
}

.pageLeftToolbarButton{
    margin-top:8px;
    cursor: pointer;
}
.pageLeftToolbarButton i {
    font-size: 36px;
}

#sideBarButton{
    position: absolute;
    margin-top:-8px;
}

#runHeaderButton{
    position: absolute;
    top: 10px;
    left: 50px;
    width: 30px;
    margin-top:0px;
    font-size: 20px;
    cursor: pointer;
}

#pageLeftToolbarTop .toolbarButton {
    margin-right: 2px;
    padding: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    cursor: pointer;
}

#pageLeftToolbarTop i {
    font-size: 18px;
}

#pageLeftBody i.material-icons {
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-right: 6px;
}
#pageLeftBodyScroll {
    position: absolute;
    top: 25px;
    left: 0px;
    right: 6px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

div.toolbarButton img{
    width: 14px;
    opacity: 0.7;
    padding-bottom:2px
}

.floatBottom{
    position: absolute;
    bottom: 0px;
    left:0px;
    right:0px; 
}

dialog form menu button{

    background-color: #3871E1;
    color: white;
    border-color: #3871E1;
    border-style: solid;
    border-radius: 3px;
    padding: 4px 12px 4px 12px;
    font-weight:500;
    min-width: 70px;
    min-height: 30px;
}
dialog form menu .cancelButton{

    color: #3871E1;
    background-color: white;
    border-color: #DBDCE0;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 4px 12px 4px 12px;

    
}



dialog form label{
    color:#616367;
    min-width:80px;
}

dialog form select{
    padding: 6px;
    min-width: 300px;
    float:right;
}

dialog form input{
    padding: 6px;
    min-width: 300px;
    float:right;
}

dialog .timerOuter{
 background-color: grey;
 width:320px;
 height:40px;
}

dialog .timerInner{
    background-color: rgb(0, 153, 255);
    width:10%;
    height:100%;
}
   


dialog form menu {

    text-align: right;
    margin-bottom: 0px;
    margin-top: 25px;
    min-width:120px;
}
dialog{
    border-radius: 3px;
    padding-top: 25px;
}

#splashScreen
{
    position: fixed; 
    bottom: 0px;
    top: 0px;
    left:0px;
    right:0px;
    background-color: #212121;
    z-index: 100;
    background-image: url('https://gcode.com.au/images/ios/ios-appicon-180-180.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}


.alertdialog{

    display:none;

    position:absolute;
  
    top:10%;
    left:50%;
    margin-left:-200px;
    max-width: 400px;
    width:90%;
    
    background-color: #ddd;
    color:#333;
    border: 1px solid #000;
    padding: 15px;
    z-index: 100; /* Sit on top */

}

.button {
    outline: none;
    color: #aaa;
    fill: #aaa;
    border: 1px solid #222;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    line-height: 18px;
    height: 24px;
    cursor: pointer;
    padding: 2px 6px;
    transition: 100ms;
    min-width: 75px;
    background-color: #444;
    background-image: linear-gradient(to bottom, #444, #333);
}
.button.default,
.button:hover {
color: #fff;
fill: #fff;
}

.button:active {
background: rgba(255, 255, 255, 0.2);
}

.button[disabled] {
color: #555;
fill: #555;
pointer-events: none;
border-color: #272727;
background-color: #3b3b3b;
background-image: none;
}

button.close {
border: none;
background: url("packages/dart_pad/elements/close.svg") center no-repeat;
width: 24px;
height: 24px;
cursor: pointer;
opacity: 0.8;
}

button.close:hover {
opacity: 1;
}

.alertdialog .button{
    position:absolute;
    bottom:10px;
    left:50%;
    margin-left:-37px;
}

@media only screen and (max-width: 1000px) {
    #pageLeftToolbarTop i {
        font-size: 36px;
    }
    #pageLeftToolbarTop{
        height: 40px;
    }
    div.toolbarButton img{
        width: 28px;
    }
    #runHeaderButton i{
        font-size: 36px;
    }

    #filename {
        font-size: 20px;
        padding-left: 26px;
    }
    .header {
        height: 50px !important;
    }
    #pageAll {
        top: 60px;
    }
    #pageLeftBody{
        font-size: 18px;
    }
    #pageLeftBodyScroll {
        
        top: 45px;
    }
    #filename input{
        font-size: 20px;
    }
    #sideBarButton{
        position: absolute;
        margin-top: 0px;
    }
    #pageLeftToolbarTop .toolbarButton{
        margin-right: 10px;
    }
    .pageLeftToolbarButton i {
        font-size: 42px;
    }
    #userIcon{
        width:50px;
        height:50px;
    }
    
  }

