body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #005040;
    width:100%;
    height:100%;
}

#pwaroot{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#pwaoverlay{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
}

#pwaheader{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 30px;
}

#pwabody{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    bottom: 30px;
    background-color: #FFFFFF;
}

#pwafooter{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 30px;
}