:root {
    --primaryColor: #005040;
    --primaryColorText: #FFFFFF;
}

html {
    height:100vh;
    width:100%;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primaryColor);
    color: var(--primaryColorText);
    height:100vh;
    width:100%;
    overflow: hidden;
}
.iphoneX{
    border-radius: 30px;
    border-style: inset;
    border-color: darkgrey;
    border-width: 2px;
    background-color: black;
}

.pwadiv{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;    
    
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div.pwapage div.pwadiv{
    overflow-x: unset;
    overflow-y: unset;
}

#pwaroot{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
}
.iphoneX #pwaroot{
    border-radius: 15px;
}

#pwaoverlay{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0px;
    z-index: 100;
    overflow: visible;
}

.floatingActionButton{
    position: fixed;
    height: 30px;
    width: 30px;
    padding: 5px;
    margin:0px;
    background-color: var(--primaryColor);
    color: var(--primaryColorText);
    border-radius: 20px;
    top: unset;
    left:unset;
    right: 15px;
    bottom: 15px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #00000099;
}
.floatingActionButton i{
    font-size: 30px;
    font-weight: 900;
}

#pwaheader{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 60px;
    padding:0px;
    margin:0px;
    background-color: var(--primaryColor);
    color: var(--primaryColorText);
    overflow: hidden;
}
#pwaheaderback{
    position: absolute;
    left: 0px;
    width: 30px;
    right: unset;
    top: 14px;
    bottom: 0px;
    font-weight: 900;
    cursor: pointer;
    overflow: hidden;
}
#pwaheaderback i{
    font-size: 38px;
    font-weight: 900;
}
#pwaheadertitle{
    position: absolute;
    left: 40px;
    right: 5px;
    top: 20px;
    bottom: 0px;
    font-size: 22px;
    font-weight: 900;
    overflow: hidden;
}

#pwabody{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 60px;
    bottom: 40px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.pwapage{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}



#pwafooter{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: unset;
    height: 10px;
    font-size: 10px;
    padding: 15px;
    text-align: center;
    background-color: var(--primaryColor);
    color: var(--primaryColorText);
    overflow: hidden;
}

#pwafooter a:link {
    color: #a6cdfa; 
    background-color: transparent; 
    text-decoration: none;
  }
  
#pwafooter a:visited {
    color: #a6cdfa;
    background-color: transparent;
    text-decoration: none;
  }
  
  #pwafooter  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  #pwafooter a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  @media all and (display-mode: standalone),
         only screen and (orientation: portrait) and (max-height: 667px ) and (min-height: 647px ),
         only screen and (orientation: portrait) and (max-height: 736px ) and (min-height: 716px ),
         only screen and (orientation: portrait) and (max-height: 812px ) and (min-height: 792px ),
         only screen and (orientation: portrait) and (max-height: 896px ) and (min-height: 876px )
   {
  
    body {
        margin-top: 20px;
    }  
    #pwaroot{
        top: 20px;
    }
 }

