:root {
    --primaryColor: #005040;
    --primaryColorText: #FFFFFF;
}

html {
    height:100vh;
    width:100%;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primaryColor);
    color: var(--primaryColorText);
    height:100vh;
    width:100%;
    overflow: hidden;
}

.mockFrame{
    border-radius: 10px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 2px;
    background-color: black;
    padding: 18px;
}

.iphoneX{
    border-radius: 30px;
}


.iphone7{
    border-radius: 30px;
}



.iphone8{
    border-radius: 30px;
}

.iphone9{
    border-radius: 30px;
}

.iphone10{
    border-radius: 30px;
}

.iphone{
    border-radius: 20px;
}


.pwadiv{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;    
    
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div.pwapage div.pwadiv{
    overflow-x: unset;
    overflow-y: unset;
}

#pwaroot{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
}
.iphoneX #pwaroot{
    border-radius: 15px;
}

#pwaoverlay{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    overflow: hidden;
    pointer-events: none;
}

#alertDialog{
    position: absolute;
    margin-top:0px;
    text-align: center;
    bottom: 0px;
    left:0px;
    right:0px;
    z-index: 2000;
    overflow: hidden;
    display:"none";
    background:"none";
    border:"none";
    pointer-events: auto;
    
}
#alertDialogBody{
    position: absolute;
    margin-top:150px;
    margin-left:auto;
    margin-right:auto;
    padding:2px;
    text-align: center;
    height: 280px;
    width:300px;
    z-index: 2001;
    overflow: hidden;
    border-radius: 10px;
    color: #00000099;
    pointer-events: auto;
    
}

.ios-prompt {
    background-color: #fcfcfc;
    border: 1px solid #666;
    display: none;
    padding: 0.8rem 1rem 0 0.5rem;
    text-decoration: none;
    font-size: 16px;
    color: #555;

    position: absolute;
    margin: 0 auto 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 0;
  }

  .ad2hs-prompt {
    background-color: rgb(59, 134, 196); /* Blue */
    border: none;
    display: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    position: absolute;
    margin: 0 1rem 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 32px);
  }

.floatingActionButton{
    position: absolute;
    height: 29px;
    width: 29px;
    padding: 5px;
    margin:-6px;
    background-color: var(--primaryColor);
    color: var(--primaryColorText);
    border-radius: 20px;
    top: unset;
    left:unset;
    right: 15px;
    bottom: 15px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #00000099;
    pointer-events: auto;
}
.clickableDiv{
    cursor: pointer;
    pointer-events: auto;
}
.floatingActionButton i{
    font-size: 30px;
    font-weight: 900;
}

#pwaheader{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 45px;
    padding:0px;
    margin:0px;
    background-color: var(--primaryColor);
    color: var(--primaryColorText);
    overflow: hidden;
    padding-top: env(safe-area-inset-bottom);
}

.pwadiv.mockFrame.iphoneX #pwaheader{
    padding-top: 20px;
}

#pwaheaderback{
    position: absolute;
    left: 2px;
    width: 38px;
    right: unset;
    bottom: 0px;
    top: unset;
    height:35px;
    font-weight: 900;
    cursor: pointer;
    overflow: hidden;
}
#pwaheaderback i{
    font-size: 35px;
    font-weight: 900;
}
#pwaheadertitle{
    position: absolute;
    left: 40px;
    right: 5px;
    bottom: 1px;
    height: 29px;
    top: unset;
    font-size: 20px;
    font-weight: 900;
    overflow: hidden;
}

#pwabody{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 45px;
    bottom: 40px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin-top: env(safe-area-inset-bottom);
}

.pwadiv.mockFrame.iphoneX #pwabody{
    padding-top: 20px;
}

.pwapage{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}



#pwafooter{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: unset;
    height: 10px;
    font-size: 10px;
    padding: 15px;
    text-align: center;
    background-color: var(--primaryColor);
    color: var(--primaryColorText);
    overflow: hidden;
}

#pwafooter a:link {
    color: #a6cdfa; 
    background-color: transparent; 
    text-decoration: none;
  }
  
#pwafooter a:visited {
    color: #a6cdfa;
    background-color: transparent;
    text-decoration: none;
  }
  
  #pwafooter  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  #pwafooter a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}
/*
  @media all and (display-mode: standalone),
         only screen and (orientation: portrait) and (max-height: 667px ) and (min-height: 647px ),
         only screen and (orientation: portrait) and (max-height: 736px ) and (min-height: 716px ),
         only screen and (orientation: portrait) and (max-height: 812px ) and (min-height: 792px ),
         only screen and (orientation: portrait) and (max-height: 896px ) and (min-height: 876px )
   {
  
    body {
        margin-top: 20px;
    }  
    #pwaroot{
        top: 20px;    
    }
 }
 */

 @media only screen and (orientation: portrait) and (max-height: 768px) and (min-width:800px) {
    body {
      zoom: 0.75;
    }
  }
  @media only screen and (orientation: landscape)
  {
      #pwaheader{
           height: 35px;
           padding-top:0px;
      }
      
    #pwabody{
        top:35px;
        margin-top:0px;
      }
  }

