<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findmyapple.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>15.0.8564212</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F982365B2950261C48C9046913FD648946761517</string>
				<key>dateExpires</key>
				<string>12/9/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F982365B2950261C48C9046913FD648946761517</string>
						<key>dateExpires</key>
						<string>12/9/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMP74LSH25</string>
						<key>name</key>
						<string>Gorman Technology Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F982365B2950261C48C9046913FD648946761517</string>
						<key>dateExpires</key>
						<string>12/9/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMP74LSH25</string>
						<key>name</key>
						<string>Gorman Technology Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F982365B2950261C48C9046913FD648946761517</string>
						<key>dateExpires</key>
						<string>12/9/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMP74LSH25</string>
						<key>name</key>
						<string>Gorman Technology Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F982365B2950261C48C9046913FD648946761517</string>
						<key>dateExpires</key>
						<string>12/9/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMP74LSH25</string>
						<key>name</key>
						<string>Gorman Technology Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F982365B2950261C48C9046913FD648946761517</string>
						<key>dateExpires</key>
						<string>12/9/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMP74LSH25</string>
						<key>name</key>
						<string>Gorman Technology Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F982365B2950261C48C9046913FD648946761517</string>
						<key>dateExpires</key>
						<string>12/9/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMP74LSH25</string>
						<key>name</key>
						<string>Gorman Technology Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F982365B2950261C48C9046913FD648946761517</string>
						<key>dateExpires</key>
						<string>12/9/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMP74LSH25</string>
						<key>name</key>
						<string>Gorman Technology Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F982365B2950261C48C9046913FD648946761517</string>
						<key>dateExpires</key>
						<string>12/9/2025</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMP74LSH25</string>
						<key>name</key>
						<string>Gorman Technology Pty Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BMP74LSH25.com.gormantec.37790665-findmyapple</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:gcode.com.au</string>
					<string>webcredentials:gcode.com.au</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>BMP74LSH25</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>findmyapple.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c57e2cd7-4b9b-4f0b-a4d8-082c10411807</string>
				<key>dateExpires</key>
				<string>12/9/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.gormantec.37790665-findmyapple</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BMP74LSH25</string>
				<key>name</key>
				<string>Gorman Technology Pty Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
