<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BabyDaze.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>13.0.1753050</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9A1D235C02F17F93093236EB8D084528E5FB034C</string>
				<key>dateExpires</key>
				<string>27/6/2023</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9A1D235C02F17F93093236EB8D084528E5FB034C</string>
						<key>dateExpires</key>
						<string>27/6/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9R8LPM6UR2</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9A1D235C02F17F93093236EB8D084528E5FB034C</string>
						<key>dateExpires</key>
						<string>27/6/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9R8LPM6UR2</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9A1D235C02F17F93093236EB8D084528E5FB034C</string>
						<key>dateExpires</key>
						<string>27/6/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9R8LPM6UR2</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9A1D235C02F17F93093236EB8D084528E5FB034C</string>
						<key>dateExpires</key>
						<string>27/6/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9R8LPM6UR2</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9A1D235C02F17F93093236EB8D084528E5FB034C</string>
						<key>dateExpires</key>
						<string>27/6/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9R8LPM6UR2</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9A1D235C02F17F93093236EB8D084528E5FB034C</string>
						<key>dateExpires</key>
						<string>27/6/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9R8LPM6UR2</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9A1D235C02F17F93093236EB8D084528E5FB034C</string>
						<key>dateExpires</key>
						<string>27/6/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9R8LPM6UR2</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9A1D235C02F17F93093236EB8D084528E5FB034C</string>
						<key>dateExpires</key>
						<string>27/6/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9R8LPM6UR2</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9A1D235C02F17F93093236EB8D084528E5FB034C</string>
						<key>dateExpires</key>
						<string>27/6/2023</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9R8LPM6UR2</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9R8LPM6UR2.au.com.gcode.37790665-Baby-Daze</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:gcode.com.au</string>
					<string>webcredentials:gcode.com.au</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>9R8LPM6UR2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BabyDaze.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0bec3448-0ad2-477c-9f9e-42c71eb51f6c</string>
				<key>dateExpires</key>
				<string>29/6/2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: au.com.gcode.37790665-Baby-Daze</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9R8LPM6UR2</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
